/* -------RESET------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------GENERAL------- */
body{
    font-family: 'Cabin', sans-serif;
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------HEADER------- */
header{
    color: white;
    position: absolute;
    top: .5vw;
    right: .5vh;
}

div.view{
    margin-right: 1rem;
}

div.view span{
    font-size: .7rem;
}

div.view i{
    vertical-align: middle;
    margin-right: .2rem;
}

div.view,
div.fullscreen{
    background-color: rgba(83, 83, 83, 0.767);
    padding: .3rem;
    border-radius: .5rem;
}


/* -------MAIN------- */
main{
    height: 100vh;
    background-color: black;
}

div.container{
    width: 100vw;
    height: 85vh;

    background-color: aqua;

    flex-wrap: wrap;
}

div.cam-box{
    width: 160px;
    height: 90px;

    background-color: blue;
    margin: .5rem .5rem;
}